<h1>Oh no! What bike was stolen?</h1>

<p class="lead">
  Hurry and get the word out!
</p>

<form>
  <div class="form-group">
    <label for="name">Color</label>
    <p>{{input class="form-control" placeholder="Bike color..." type="text" value=color}}</p>
    <label for="make"> Make </label>
    <p>{{input class="form-control" placeholder="Trek, Schwinn, etc." type="text" value=make}}</p>
    <label for="serial"> Serial Number </label>
    <p>{{input class="form-control" placeholder="22wxy8" type="text" value=serial}}</p>
    <label for="location"> Location </label>
    <p>{{input class="form-control" placeholder="Address..." type="text" value=location}}</p>
  </div>
  <button class="btn btn-primary" {{action 'save'}}>Add Bike</button>
</form>
