<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">BIKE ALERT!</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'bikes'}}Bikes{{/link-to}}</li>
        <li>{{#link-to 'add-user'}}Register{{/link-to}}</li>
        <li>{{#link-to 'users'}}Users{{/link-to}}</li>
        <li>{{#link-to 'city-view'}}City View{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
{{#if model}}
<<<<<<< HEAD
  <marquee>{{model.lastObject.color}} {{model.lastObject.make}} lost on {{model.lastObject.date}} around {{model.lastObject.address}}</marquee>
=======
<marquee>{{model.lastObject.color}} {{model.lastObject.make}} {{format-date model.lastObject.date}} around {{model.lastObject.address}} </marquee>
>>>>>>> 2c0ba456d1031deca078274a282e460f91653c26
{{else}}

{{/if}}
<div class="container">
  {{outlet}}

</div>
