<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">BIKE ALERT!</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'bikes'}}Lost Bikes{{/link-to}}</li>
        <li>{{#link-to 'add-user'}}Register{{/link-to}}</li>
        <li>{{#link-to 'users'}}Users{{/link-to}}</li>
        <li>{{#link-to 'success'}}Success Stories{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
{{#if model}}
<marquee> {{#link-to 'user' model.lastObject.user.id}}{{model.lastObject.color}} {{model.lastObject.make}} {{format-date model.lastObject.date}} around {{model.lastObject.address}} contact {{model.lastObject.user.name}} if found{{/link-to}}</marquee>
{{else}}

{{/if}}
<div class="container">
  {{outlet}}

</div>
