<h1 class="page-header text-center"> All lost bikes</h1>
<!--
{{#each model as |bike|}}
  {{#if bike.lost}}
    <ul>
      <li>{{#link-to 'bike' bike.id}}{{bike.make}} lost {{format-date bike.date}}{{/link-to}}</li>
    </ul>
  {{else}}

  {{/if}}
{{/each}} -->


{{#each model as |bike|}}
  <ul>
    <li class="all-bikes">
      {{#link-to 'bike' bike.id}}<img {{bind-attr src=bike.image}}>
      <h3>{{bike.make}}</h3>{{/link-to}}
    </li>
  </ul>
{{/each}}
