<div class="row clearfix well">
  <div class="col-md-4">
    <img class="bike-image" src="{{model.image}}"/>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <p>Color: {{model.color}}</p>
    <p>Make: {{model.make}}</p>
    <p>Address: {{model.address}}</p>
    <p>Serial Number: {{model.serial}}</p>
    <p>Date lost: {{model.date}}</p>
    <p>{{google-map address=model.address}}</p>
    {{#if found}}
      <p>Bike found</p>
    {{else}}
      <button class="btn" {{action 'show'}}>Found</button>
    {{/if}}
  </div>
</div>

<div id="foundModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Question</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="story">How was it found?</label>
            {{textarea id="story" class="form-control" rows="6" value=story}}
          </div>
          <button type="submit" class="btn btn-success btn-block" data-dismiss="modal" {{action 'found'}}>Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<h2>Messages:</h2>
{{#if model.messages}}
    {{#each model.messages as |message|}}
    <div class="row clearfix well" id="stripe">
        <p>{{message.text}}</p>
        <footer>
          <p style="float:right;margin-bottom:0;"><i>Posted {{calendar-date message.date}} by: {{message.name}} </i></p>
          <button style="float:left;margin-bottom:0;" class="btn btn-danger btn-xs" {{action 'delete' message}}>X</button>
        </footer>
    </div>
    {{/each}}

{{else}}
  <p>No messages added yet.</p>
{{/if}}

{{#link-to 'new-message'}}Add message{{/link-to}}

{{outlet}}
