<div class="row clearfix well">
  <div class="col-md-4">
    <img class="bike-image" src="{{model.image}}"/>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <p>Color: {{model.color}}</p>
    <p>Make: {{model.make}}</p>
    <p>Address: {{model.address}}</p>
    <p>Serial Number: {{model.serial}}</p>
    <p>Date lost: {{model.date}}</p>
    <p>{{google-map address=model.address}}</p>
    {{#if found}}
      <p>Bike found</p>
    {{else}}
      <button class="btn" {{action 'found'}}>Found</button>
    {{/if}}
  </div>
</div>

<h2>Messages:</h2>
{{#if model.messages}}
    {{#each model.messages as |message|}}
    <div class="row clearfix well" id="stripe">
        <p>{{message.text}}</p>
        <footer>
          <p style="float:right;margin-bottom:0;"><i>Posted {{calendar-date message.date}} by: {{message.name}} </i></p>
          <button style="float:left;margin-bottom:0;" class="btn btn-danger btn-xs" {{action 'delete' message}}>X</button>
        </footer>
    </div>
    {{/each}}

{{else}}
  <p>No messages added yet.</p>
{{/if}}

{{#link-to 'new-message'}}Add message{{/link-to}}

{{outlet}}
